.div-main-general-section-text {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px 0px 170px 0px;

    &__div-text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 430px;
    }
}

@media (max-width: 1024px) {
    .div-main-general-section-text__div-text {
        width: 294px;
    }
}

@media (max-width: 768px) {
    .div-main-general-section-text__div-text {
        width: 204px;
    }

    .div-main-general-section-text {
        padding: 50px 0px 100px 0px;
    }
}    

@media (max-width: 480px) {
    .div-main-general-section-text__div-text h4 {
        font-size: 20px;
        line-height: 125%;
    }

    .div-main-general-section-text__div-text p {
        font-size: 14px;
        line-height: 125%;
    }

    .div-main-general-section-text {
        flex-direction: column;
        align-items: center;
    }

    .div-main-general-section-text__div-text {
        gap: 16px;
        width: 280px;
    }

    .div-main-general-section-text {
        padding: 50px 0px 50px 0px;
    }
}