.div-main-general-section-developer {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 260px;
    padding: 0px 0px 170px 0px;

    &__osnava-content {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__osnava-content-img {
        width: 34px;
        height: 30px;
        padding: 0px 0px 18px 0px;
    }

    &__osnava-content-titel {
        width: 400px;
    }
}

@media (max-width: 1024px) {
    .div-main-general-section-developer {
        gap: 58px;
        justify-content: normal;
        padding: 0px 0px 170px 45px;
    }

    .div-main-general-section-developer__osnava-content-titel {
        width: 280px;
    }
}

@media (max-width: 768px) {
    .div-main-general-section-developer__osnava-content-titel {
        width: 200px;
    }

    .div-main-general-section-developer {
        gap: 40px;
        padding: 0px 0px 170px 25px;
    }

    .div-main-general-section-developer__img {
        width: 200px;
    }
}