.div-main-general-section-information-platform {
    display: flex;
    justify-content: end;
    gap: 170px;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__osnova-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__osnova-content-text {
        width: 300px;
    }
}

.posishion-section6-main {
    display: flex;
    justify-content: end;
}

@media (max-width:1383px) {
    .part-img-section-information-platform {
        width: 500px;
    }
}

@media (max-width: 1024px) {
    .part-img-section-information-platform {
        width: 354px;
        height: 297px;
    }

    .div-main-general-section-information-platform {
        gap: 60px;
    }
}

@media (max-width: 768px) {
    .part-img-section-information-platform {
        width: 200px;
        height: 207px;
    }

    .div-main-general-section-information-platform__osnova-content-text {
        width: 180px;
    }

    .div-main-general-section-information-platform__content {
        gap: 30px;
    }
}

@media (max-width: 480px) {
    .div-main-general-section-information-platform {
        flex-direction: column;
        gap: 32px;
    }

    .part-img-section-information-platform {
        width: 280px;
        height: 253px;
    }

    .div-main-general-section-information-platform__title {
        font-size: 24px;
    }

    .div-main-general-section-information-platform__osnova-content-title {
        font-size: 20px;
    }

    .div-main-general-section-information-platform__osnova-content-text {
        font-size: 14px;
        line-height: 125%;
    }

    .div-main-general-section-information-platform__osnova-content {
        gap: 16px;
    }

    .div-main-general-section-information-platform__osnova-content-text {
        width: 220px;
    }

    .posishion-section-information-platform-main {
        display: flex;
        justify-content: center;
    }
}