p {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    line-height: 145%;
}

h1 {
    font-weight: 600;
    font-size: 74px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #e7e7e7;
}

h2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #e7e7e7;
}

h4 {
    font-weight: 600;
    font-size: 28px;
    line-height: 125%;
    color: #e7e7e7;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: black;
}

.container {
    margin: 0 auto;
    padding: 0px 15px;
}

@media (max-width:1300px) {
    h1 {
        font-size: 44px;
        width: 300px;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 42px;
    }

    p {
        font-size: 16px;
    }

    h2 {
        font-size: 30px;
    }

    h4 {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    p {
        font-size: 12px;
    }

    h2 {
        font-size: 22px;
    }

    h4 {
        font-size: 14px;
    }
    
    h1 {
        font-size: 30px;
        width: 200px;
    }
}

// .active-end-start {
//     display: block;
// }

.active-end {
    display: none;
}

.active-middle {
    display: block;
    background-color: black;
    border: 0px;
}

.active {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    background-color: black;
    width: 100%;
    top: 130px;
}